{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<h2>Active Listings</h2>
{% if listings %}
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for listing in listings  %}
    <div class="col">
        <div class="card h-100">
            {% if listing.image_url %}
            <img src="{{listing.image_url}}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'auctions/default-no-image-1.png' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'listing' listing.id %}">{{listing.title}}</a></h5>
                <h6 class=" card-title">Current Price: ${{listing.price}}</h5>
                    <p class="card-text">{{listing.description}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Created At: {{listing.created_at}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div>there is no listing </div>
{% endif %}
{% endblock %}